@font-face
  font-family latoLight
  src url(fonts/lato/Lato-Light.ttf)

@font-face
  font-family latoLight
  src url(fonts/lato/Lato-Medium.ttf)

@font-face
  font-family latoLight
  src url(fonts/lato/Lato-Black.ttf)

@font-face
  font-family latoLight
  src url(fonts/trajan/trajan-pro.otf)
